    {{! НАЧАЛО ГЛАВНОГО КОНТЕЙНЕРА }}
    <div class="container-scroller">

      {{! НАЧАЛО ЗАГОЛОВКА }}
      <AppHeader @userName={{@model.userName}} />
      {{! КОНЕЦ ЗАГОЛОВКА }}

      {{! НАЧАЛО ВНУТРЕННЕГО КОНТЕЙНЕРА }}
      <div class="container-fluid page-body-wrapper">

        {{! НАЧАЛО МЕНЮ }}
        <AppMenu @menuItems={{@model.menuItems}} />
        {{! КОНЕЦ МЕНЮ }}

        <div class="main-panel">

          {{! НАЧАЛО ОБЁРТКИ ЦЕНТРАЛЬНОЙ СЕКЦИИ }}
          <div class="content-wrapper">
            {{outlet}}
          </div>
          {{! КОНЕЦ ОБЁРТКИ ЦЕНТРАЛЬНОЙ СЕКЦИИ }}

          {{! НАЧАЛО ПОДВАЛА }}
          <AppFooter @versionNumber={{@model.versionNumber}}/>
          {{! КОНЕЦ ПОДВАЛА }}
        </div>
      </div>
      {{! КОНЕЦ ВНУТРЕННЕГО КОНТЕЙНЕРА }}

    </div>
    {{! КОНЕЦ ГЛАВНОГО КОНТЕЙНЕРА }}
